logging snmp-authfail
logging trap {{ config_context['logging']['trap'] }}
logging buffered {{ config_context['logging']['buffered'] }}
logging reload warnings
no logging console
logging history size {{ config_context['logging']['history_size'] }}
logging source-interface Vlan204
{% for server in config_context['logging']['servers'] %}
logging host {{ server }}
{% endfor %}
