
ntp access-group peer {{ config_context['ntp']['acl'] }}
{% for server in config_context['ntp']['servers'] %}
ntp server {{ server['ip'] }}
{% endfor %}
ip access-list standard {{ config_context['ntp']['acl'] }}
{% for server in config_context['ntp']['servers'] %}
 {{ loop.index * 10 }} permit {{ server['ip'] }}
{% endfor %}
 40 deny   any log
 
